@import "var";

* {
    box-sizing: border-box;
}

html,body{
    background-color: $bodyBg;
    min-width: 1000px;
    height: 100%;
}

body {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    color: $baseFontColor;
    position: relative;
}

.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.position-relative {
    position: relative;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

// safari浏览器下去圆角
html [type="submit"],
html [type="reset"],
html [type="button"],
button,
textarea {
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}
input:focus{
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


//各页面通用样式
.no-data-placeholder{
  text-align: center;
  color: #5e6d82;
}
.search-area{
  background: #fff;
  padding: 10px 10px 0;
}
.search-form-item{
  width: 30%;
}
.dialog-form-item{
  width: 70%;
}
.dialog-form-button-group{
  text-align: right;
}
.form-pagination{
  float: right;
  margin-top: 10px;
}
