$primary: #20a0ff;

$bodyBg: #f9f9f9;
$baseFontFamily: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
$baseFontSize: 14px;
$baseFontColor: #333333;

$headerH: 60px;
$headerBg: #fff;

$asideW: 200px;
$asideBg: #ffffff;

$contentBg: #f1f2f7;

$authW: 480px;
$authPageBg: #00457d;
$authBoxBg: rgba(0, 0, 0, 0.5);

